h1.section {
  margin: 0px;
  color: white;
}

div.margin-div {
  margin: 20px 0px;
}

div.padding {
  padding: 10px 20px;
}

input.margin-sides {
  margin: 10px;
}

div.do-this {
  margin-right: 40px;
}
