body.background {
  color: black;
  background-color: rgba(186, 190, 197, 0.598);
}

h1.section {
  margin: 0px;
  color: white;
}

div.margin-div {
  margin: 20px 0px;
}

div.padding {
  padding: 10px 20px;
  color: white;
}

div .text-shadow {
  color: #fff !important;
  text-shadow: 2px 2px 7px rgba(48, 48, 48, 0.527);
}

div.center-this {
  display: grid !important;
  place-items: center !important;
}

input#city_state {
  padding-left: 10px;
}

div.justify-this {
  margin-left: 0.5em !important;
}

div.do-this {
  margin-right: 120px;
}

div.space-this {
  margin: 10px !important;
  padding: 10px !important;
  font-size: inherit !important;
  color: white;
}

button.add-city {
  background-color: white;
  color: rgb(255, 255, 255) !important;
  margin-left: 15px !important;
  margin-bottom: 5px !important;
  border-color: black !important;
  border: 1px;
}

@media only screen and (max-width: 1024px) {
  div.medialaptop {
    width: 90% !important;
  }
}

@media only screen and (max-width: 425px) {
  div.mediasm {
    margin: 10px 0px !important;
  }
}
